[submodule "SMUrho3D"]
	path = rbfx
	url = https://github.com/TrevorCash/SMUrho3D
[submodule "rbfx-newton"]
	path = rbfx-newton
	url = https://github.com/TrevorCash/rbfx-newton
[submodule "rbfx-openvr"]
	path = rbfx-openvr
	url = https://github.com/TrevorCash/rbfx-openvr
[submodule "rbfx-bugsplat"]
	path = rbfx-bugsplat
	url = https://github.com/TrevorCash/rbfx-bugsplat
[submodule "rbfx-mathextras/MathExtras_DSP"]
	path = rbfx-mathextras/MathExtras_DSP
	url = https://github.com/TrevorCash/MathExtras_DSP

